# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
uploads/
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
gradnet project structure.txt
schema.sql
# Ignore all image files by extension
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
schema_v1.sql
!frontend/src/assets/
!gradnet-logo.png
!web-app-manifest-512x512.png
!web-app-manifest-192x192.png
!apple-touch-icon.png
!favicon-96x96.png
!favicon.svg
!store_icon.png